<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <RollingFile name="LogToFile" fileName="${sys:user.dir}/logs/hippodrome.log"
                     filePattern="${sys:user.dir}/logs/hippodrome.%d{yyyy-MM-dd}.log"
                     ignoreExceptions="true">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:user.dir}/logs" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="ERROR">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>